@model KindergartenApp.Models.Class

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            Teachers
        </dt>
        <dd>
            @foreach (var item in Model.Teacher_Class)
            {
                @Html.DisplayFor(model => item.Teacher.FirstName) @: 
                @Html.DisplayFor(model => item.Teacher.LastName)
                <br />
            }
        </dd>
    </dl>
</div>

<div>
    <h4>Children in Class</h4>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Children Name</th>
            <th>Address</th>
            <th>DietTitle</th>
            <th>TakingCareTitle</th>
        </tr>
        <tbody>
            @foreach (var item in Model.Children)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FirstName)
                        @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Diet.DietTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TakingCare.TakingCareTitle)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div>
    <h4>Class Trips</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            TripTitle
        </dt>

        <dd>
            @foreach (var item in Model.Class_Trip)
            {


            @Html.DisplayFor(model => item.Trip.TripTitle)

            }
        </dd>
    </dl>
</div>

<div>
    <h4>Events</h4>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
        </tr>
        <tbody>
            @foreach (var item in Model.TaskEvents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
