@model IEnumerable<KindergartenApp.Models.Child>

@{
    ViewBag.Title = "Children Manager";
}

<h2>Children Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.ClassTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diet.DietTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakingCare.TakingCareTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.ClassTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diet.DietTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakingCare.TakingCareTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
